<h1> cadastrar professor</h1>
<div class="col-md-6">
    <div class="alert alert-success" role="alert" *ngIf="mensagem">{{mensagem}}</div>
    <form (submit)="salvar($event)">
        <div class="form-group">
            <label for="primeiroNome">Primeiro nome:</label>
            <input [(ngModel)]="professor.primeiroNome" id="primeiroNome" name="primeiroNome" class="form-control" />
        </div>
        <div class="form-group">
                <label for="segundoNome">Segundo nome:</label>
                <input [(ngModel)]="professor.segundoNome" id="segundoNome" name="segundoNome" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a [routerLink]="['/professor']" class="btn btn-primary">Voltar</a>
    </form>
</div>

