<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of aluno">
            <td>{{a.primeiroNome}}</td>
            <td>{{a.segundoNome}}</td>
            <td><a (click)="remover(a)"  class="btn btn-danger">Excluir</a></td>
        </tr>
    </tbody>
</table>
<a [routerLink]="['/professor']" class="btn btn-primary">Professor</a>
<a [routerLink]="['/professor/cadastro']" class="btn btn-primary">Professor cadastro</a>